#enviar {
    display: inline-block;
    border-radius: 2px;
    background-color: #18f159d0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
  
    &:hover {
      background-image: url(../images/fondo-cohete.jpg);
      background-size: cover;
      cursor: pointer;
    }
  }
  
  #limpiar {
    display: inline-block;
    border-radius: 2px;
    background-color: #c01531d3;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    cursor: pointer;
  
    &:hover {
      background-image: url(../images/limpia.jpg);
      background-size: cover;
      cursor: pointer;
    }
  }