@font-face {
    font-family: "Recepts";
    src: url(../fonts/Space.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Movex";
    src: url(../fonts/Movex.otf);
  }
  
  @font-face {
    font-family: "Nasa";
    src: url(../fonts/nasalization-rg.otf);
  }

  @font-face {
    font-family: "Nasa21";
    src: url(/fonts/Nasa21.ttf);
  }